In [1]:
import pandas as pd
import numpy as np
tri = pd.read_excel('budget.xlsx')
tri

,Unnamed: 0,BUDGET,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Description,Qty,Unit Price (USD),Total (USD),Justification
2,NaN,Personnel Cost/Allowance,NaN,NaN,NaN,NaN
3,NaN,Computer Programmer,1,492,492,Honorarium for members of staff
4,NaN,Software Designer,1,492,492,NaN
5,NaN,Technical/Administrative Support,2,518,1036,NaN
6,NaN,Tailors,30,518,15540,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Equipment/Supplies/Consumable,NaN,NaN,NaN,NaN
10,NaN,Solar powered school bags,NaN,NaN,NaN,NaN
11,NaN,Sewing machine,30,130,3900,Needed for the production of solar powered bag...
12,NaN,Fabric material (yards),10000,1.2,12000,NaN
13,NaN,Bag handles (pieces),10000,0.3,3000,NaN
14,NaN,Scissors,35,6,210,NaN
15,NaN,Sewing threads,10000,0.13,1300,NaN
16,NaN,Measuring tape,40,0.26,10.4,NaN
17,NaN,Zip,12000,0.52,6240,NaN
18,NaN,Solar panels,11000,1.2,13200,NaN
19,NaN,Micro-inverters,11000,0.6,6600,NaN
20,NaN,Battery,11000,0.3,3300,NaN
21,NaN,Charge controller,11000,0.3,3300,NaN
22,NaN,Led bulb,11000,0.3,3300,NaN
23,NaN,Charging port,10500,0.2,2100,NaN
24,NaN,Control switch,10000,0.3,3000,NaN
25,NaN,Connecting wires (yards),13000,0.1,1300,NaN
26,NaN,Chairs,40,10,400,Needed for comfortability in the workplace
27,NaN,Tables,6,26,156,NaN
28,NaN,Mentorship Platform and e-Library,NaN,NaN,NaN,NaN
29,NaN,Laptop,5,259,1295,Needed for the development of the mentorship a...
30,NaN,Mifi router,2,13,26,NaN
31,NaN,Hosting plan (annual cost),2,48,96,NaN
32,NaN,Video Camera,2,259,518,NaN
33,NaN,Data subscription (annual cost),1,259,259,NaN
34,NaN,Fuel (litres),1036,0.32,331.52,Needed for power supply (when there is power o...
35,NaN,Generator,1,907,907,NaN
36,NaN,Fan,6,31,186,Needed to cool the devices in the workplace an...
37,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Other Costs,NaN,NaN,NaN,NaN
41,NaN,Rent for work places (annual cost),1,7772,7772,Needed for acquisition of workplace
42,NaN,Electricity (annual cost),1,648,648,Needed to cater for power supply
43,NaN,Transportation cost (annual cost),1,2591,2591,Needed to cater for cost of packaging and tran...
44,NaN,Maintenance (annual cost),1,777,777,Needed for regular maintenance of devices in t...
45,NaN,Government Tax (annual cost),1,777,777,Revenue generation for the country
46,NaN,Miscellaneous (annual cost),1,1036,1036,Needed to cater for other unforeseen expenditures
47,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,Total Amount in US dollars,NaN,NaN,98095.9,NaN